body{
  text-align: center;
  line-height: 1.5;
}

h1 {
  font: "Montserrat-black";
  font-size: 3rem;
  color: #fff;
}
/* NOTE: combine selector with , */

h2, h3 {
font: "Montserrat-bold";
font-size: 2rem;
}


i {
  color: #FFBBBB;
}


/****title***/
.pink-background {
  background-color: #F68989;

}


#title{
  text-align: left;
}


#title .container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}



.title-image {
  width: 90%;
  max-width: 500px;
  position: relative;
  left: 15%;
  padding: 20px 0 0 0;

}



/*****features***/
#features {
  padding: 7% 15%;
  position: relative;

}

/* NOTE: combine selector by read as h3 and p in the div (container* name) or
div id= a class= b ----> container 1
div class = c  -----> container 2
h1----> selector container 3 /h1
/div
/div

-> to modify specific to container 2
->> .b(space) .c {}
in case of no space like below meant only apply to the elements has both class b and c in the class
--->(div class=b c)
---->.b.c

or with id  #id (target id place like a container and stuff) .tag (a specific class in the id want to change)
---> #a .c

or a class need to modify in a specific id
-----> .c #a

Selector in a specific container or id (need to add id or specific class which is unique)
----> h1.b or h1#a or .b h1


  */
.row-feature h3, .row-feature p{
  color: #461111;
}

.feature-box {
  padding: 5%;
}

.icon{
  margin-bottom: 1rem;
}

.icon:hover{
  color: #FCC29A;
}


/***testomonial***/
#testimonials {
background-color: #F68989;
color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}


.testimonial-image {
  width: 10%; /*****the size of image***/
  border-radius: 100%; /****border line of image***/
  margin: 15px; /**space between***/

}

/****press***/
#press{
  background-color: #F68989;
  padding: 3%;
}
.logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/****Pricing***/
#pricing {
  color: #F68989;
  padding: 100px;
}

.pricing-name{
  font-size: 2rem;
  margin: 20px 10px;
}
.pricing-column, .pricing-container{
  padding: 3% 2%;
}

/*** cta***/
#cta {
  margin: 20px 0 0 0;
  padding: 7% 15%;
  background-color: #F68989;
  color: #fff;
}

.cta-heading {
  font-size: 3.5rem;

}
/***footer***/
#footer{
  color: #F68989;
  padding: 7% 15%;
}

#footer .icon {
  margin: 20px 10px;
}
